<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/navigation')%>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur esse minima rem tempore iure recusandae, repudiandae corrupti autem cupiditate error expedita consectetur vitae reiciendis facere odit quo? Quod quisquam necessitatibus animi consequatur aliquam, odio quasi distinctio nemo cupiditate illo modi dicta nobis eos officia in cumque ea perspiciatis autem laudantium recusandae, omnis nulla? Facilis consectetur cum odio doloremque necessitatibus quidem, sint alias, perferendis magnam voluptatibus ducimus eligendi eos voluptas dolore porro itaque cumque ea animi numquam quia. Ipsam ullam sapiente id optio dolorum dolores dignissimos ipsum eum quisquam ea odio maxime aliquid consequuntur consectetur commodi nulla, delectus aut architecto voluptatem odit laborum accusantium iusto placeat doloremque. Nihil, delectus at eius, optio expedita obcaecati animi quam ipsa pariatur adipisci odit reiciendis totam in aspernatur quaerat consequuntur qui nulla iure nisi incidunt! Fugiat iusto optio harum officiis nihil ea ratione odio. Unde asperiores facilis vitae atque neque culpa dicta laudantium aspernatur, deserunt perferendis assumenda necessitatibus quasi cum, repudiandae corrupti veniam maxime tempora, illum nobis nisi iste ut. Hic perferendis molestiae pariatur excepturi laborum animi, autem veniam quis doloremque corrupti? Eligendi numquam aliquam totam nihil vel consequatur molestiae. Dignissimos sapiente eligendi, repellat molestiae earum eos? Delectus, molestiae. Velit consequatur modi non assumenda iure?</p>
        </section>
    </main>

    <!-- Footer-->
    <%- include('partials/footer')%>

    <!-- JavaScript-->
    <%- include('partials/js')%>
</body>
</html>
